<a href="https://colab.research.google.com/github/samsharm/INSAID1005/blob/main/Capstone1CDC1005_Samta.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install MySQL-Connector

Collecting MySQL-Connector
  Downloading https://files.pythonhosted.org/packages/28/04/e40098f3730e75bbe36a338926f566ea803550a34fb50535499f4fc4787a/mysql-connector-2.2.9.tar.gz (11.9MB)
     |████████████████████████████████| 11.9MB 11.2MB/s
Building wheels for collected packages: MySQL-Connector
  Building wheel for MySQL-Connector (setup.py) ... done
  Created wheel for MySQL-Connector: filename=mysql_connector-2.2.9-cp37-cp37m-linux_x86_64.whl size=247949 sha256=7336f038f9099da162fb9c38a919364305bb01d88a9d37a210aff5040127251b
  Stored in directory: /root/.cache/pip/wheels/8c/83/a1/f8b6d4bb1bd6208bbde1608bbfa7557504bed9eaf2ecf8c175
Successfully built MySQL-Connector
Installing collected packages: MySQL-Connector
Successfully installed MySQL-Connector-2.2.9

In [2]:
import mysql.connector
import csv

In [3]:
mydb = mysql.connector.connect(
  host="cpanel.insaid.co",
  user="student",
  password="student",
  database='Capstone1'
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x7f6506833ed0>

In [4]:
mycursor = mydb.cursor(buffered=True)

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('Capstone1',)
('Capstone2',)
('Capstone3',)

In [5]:
mycursor.execute("USE Capstone1")

In [6]:
mycursor.execute("SHOW TABLES")

In [7]:
query = "SELECT * FROM gender_age_train"

mycursor.execute(query)

In [8]:
result = mycursor.fetchall()

with open('capstone1_gender_output.csv','w') as fileout:
      writer = csv.writer(fileout)
      writer.writerows(result)

In [9]:
#for row in result:
  #print(row)

In [10]:
query2 = "SELECT * FROM phone_brand_device_model"

mycursor.execute(query2)

In [11]:
result2 = mycursor.fetchall()

with open('capstone1_phone_output.csv','w') as fileout:
      writer = csv.writer(fileout)
      writer.writerows(result2) 

#for row in result2:
 # print(row)